<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

    <img src="/image/bg.png" alt="" id="bearlogo">

    <section class="section">
        <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="box">
      <label class="label has-text-centered" >Huggy</label>
      <div class="column is-half is-offset-one-quarter">
        <input class="input" type="text" placeholder="Please Enter your Bearcode">
      </div>
        <div class="buttons is-medium has-addons is-centered">
          <a href="home">
          <span class="button">Log In</span>
          </a>
        </div>
    </div>
  </div>
  </div>
</div>
</section>
  </body>
</html>
